<%= form_for(@product) do |f| %>

  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> <%= t('.prohibited') %> :</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#geral" aria-controls="home" role="tab" data-toggle="tab">Geral</a></li>
    <li role="presentation"><a href="#tabelas" aria-controls="home" role="tab" data-toggle="tab">Tabelas</a></li>
    <li role="presentation"><a href="#atributos" aria-controls="home" role="tab" data-toggle="tab">Atributos</a></li>
    <li role="presentation"><a href="#imagens" aria-controls="home" role="tab" data-toggle="tab">Imagens</a></li>
    <li role="presentation"><a href="#estoque" aria-controls="home" role="tab" data-toggle="tab">Estoque</a></li>
  </ul>
  <div class="tab-content">

    <section id="geral" role="tabpanel" class="tab-pane active">
      <h4>Geral</h4>
      <div class="form-group">
        <%= f.label :name, t('.name'), class:'label-control' %><br>
        <%= f.text_field :name, class:'form-control' %>
      </div>
      <div class="form-inline">
        <div class="form-group">
          <%= f.label :code, t('.code'), class:'label-control' %><br>
          <%= f.text_field :code, class:'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :status, t('.status'), class:'label-control' %><br>
          <%= f.number_field :status, class:'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :weight, t('.weight'), class:'label-control' %><br>
          <%= f.number_field :weight, class:'form-control'  %>
        </div>
        <div class="form-group">
          <%= f.label :multiple, t('.multiple'), class:'label-control' %><br>
          <%= f.number_field :multiple, class:'form-control'  %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :description, t('.description'), class:'label-control' %><br>
        <%= f.text_area :description, class:'form-control'  %>
      </div>

    </section>

    <section id="tabelas" role="tabpanel" class="tab-pane">
      <h4>Tabelas</h4>
    </section>

    <section id="atributos" role="tabpanel" class="tab-pane">
      <h4>Atributos</h4>
    </section>

    <section id="imagens" role="tabpanel" class="tab-pane">
      <h4>Imagens</h4>
    </section>

    <section id="estoque" role="tabpanel" class="tab-pane">
      <h4>Estoque</h4>
    </section>

  </div>
  <div class="actions">
    <%= f.submit t('.submit'), class:'btn btn-primary' %>
  </div>

<% end %>
