<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('.name') %>:</strong>
  <%= @product.name %>
</p>

<p>
  <strong><%= t('.code') %>:</strong>
  <%= @product.code %>
</p>

<p>
  <strong><%= t('.status') %>:</strong>
  <%= @product.status %>
</p>

<p>
  <strong><%= t('.weight') %>:</strong>
  <%= @product.weight %>
</p>

<p>
  <strong><%= t('.description') %>:</strong>
  <%= @product.description %>
</p>

<p>
  <strong><%= t('.multiple') %>:</strong>
  <%= @product.multiple %>
</p>

<%= link_to t('.edit'), edit_product_path(@product) %> |
<%= link_to t('.back'), products_path %>
